<!-- <p class="instructions">Rest of the features will covered in the E-book, which is still in writing for this application.
    <br/>Find more Article and fun stuff on,
    <br/>
    <br/>
    <a href="www.codershood.info" target="_blank" >www.codershood.info</a>
</p> -->
<div class="loader" [hidden]="!showLoader">
    <div class="message">
        <i class="fas fa-spinner fa-spin"></i>
        <h2>Loading</h2>
    </div>  
</div>
<button type="button" class="btn btn-outline-primary" (click)="startGame()" >Start simulation</button>
<input type = "number" id="placeNumber" [value]= "5" [max]= "10"/>

<button type="button" class="btn btn-outline-primary" (click)="btnClick();">Reset simulation</button>
<canvas #canvas class="play-ground"></canvas>